<body>
    <p id="notice"></p>
    <p>
        <strong>Title:</strong>
        <%= @book.title %>  
    </p>
    <p>
        <strong>body:</strong>
        <%= @book.body %> 
    </p>
    
    <tbody>
         <td><%= link_to"Edit", "/books/#{@book.id}/edit" %></td>
          | 
         <td><%= link_to"back", "/books" %></td>
    </tbody>
    
    
</body>
